{% extends "tv_shows/base.html" %}

{% block title %}Show | {{show.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <h4>TV SHOW {{show.id}}</h4>
    </div>
    <div class="row my-3">
        <ul style="list-style-type: none;">
            <li class="fs-4 mb-3"><b>{{show.title}}</b></li>
            <li class="mb-1">Network: <b>{{show.network}}</b></li>
            <li class= "mb-3">Release Date: {{show.release_date}}</li>
            <li><p><b>Description:</b></p>
                <p>{{show.description}}</p>                
            </li>
        </ul>
    </div>
    <div class="row my-3">
        <h5 class="mb-3">Last updated: {{show.updated_at}}</h5>        
        <p><a href="/shows/{{show.id}}/edit">Edit</a>  |  <a class="modal-borrar" data-bs-toggle="modal" data-bs-target="#delete_modal" href="/shows/{{show.id}}/destroy" data-href="/shows/{{show.id}}/destroy">Delete</a></p>            
    </div>
</div>
<div class="modal fade" id="delete_modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deleting Show</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-text">Are you sure?<br>This action can't be reverted</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">No</button>
                <a href="#" id="confirmar-borrar" class="btn btn-danger">Si</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.modal-borrar').on('click', function(){
        const href= $(this).attr('data-href');
        $('#confirmar-borrar').attr('href', href);
    })
</script>
{% endblock %}